listener = 1.3.3.7:25565

pingmode = static
motd = Now it's mcvhostproxy!
version = 1.6.2
numplayers = 1337
maxplayers = 9001

vhost = survival.example.org
internaladdress = 127.0.0.1:1337

vhost = pvp.example.org
internaladdress = 127.0.0.1:13337

vhost = creative.example.org
internaladdress = 127.0.0.1:9001
